@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

@layer base {
  html {
    font-family: "Noto Serif", serif;
  }
}

footer ul li {
  @apply pt-4 text-xs;
}

/* Calendar customizations */
.rdp-vhidden {
  @apply hidden;
}
.rdp-caption_dropdowns {
  @apply grid grid-cols-2;
}
.rdp-dropdown {
  @apply w-full;
}
